#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#VSCode
.*
.vscode
.bash_history

#Extra
.config
index.html
package-lock.json
PVS-Studio.log
report.tasks
strace_out
compile_commands.json